body {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
}

section {
    display: grid;
    flex-direction: column;
    align-items: center;
    height: 468.52px;
    width: 330.52px;
    border-radius: 20px;
    padding: 24px;
    border: 1px solid black; 
    background-color: hsl(0, 0%, 100%);
}

#blog-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 29px;
    width: 82px;
    padding-left: 12px;
    padding-right: 12px;
    padding: 4px;
    gap: 8px;
    border-radius: 4px;
    background-color: hsl(47, 88%, 63%);
}

 #blog-img {
    width:366;
    border-radius: 10px;
 }

#greg-img {
    height: 32px;
    width: 32px;
}

.card-body {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}


.author-profile {
    display: flex;
    align-items: center;
    justify-self: start;
    gap: 12px;
}

.card-body > p {
    color: hsl(0, 0%, 42%);
}