body {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
}

section {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 522px;
    width: 384px;
    border: 3px solid black;
    
}

#greg-img {
    height: 32px;
    width: 32px;
}