body {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
}

section {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 522px;
    width: 384px;
    border: 3px solid black;
    background-color: hsl(0, 0%, 100%);
}

 #blog-img {
    border-radius: 10px;
 }

#greg-img {
    height: 32px;
    width: 32px;
}

.card-body {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}