body {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

section {
    height: 522px;
    width: 384px;
    border: 3px solid black;
}