#item2 {
    color: #1F314F;
    font-family: "Outfit", Bold;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 120%;
}

#item3 {
    color: #68778D;
    font-family: "Outfit", Regular;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 140%;
}