body {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #D5E1EF;
    height: 100vh;
}

img {
    height: 288px;
    width: 288px;
    border-radius: 10px;
}


section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    row-gap: 10px;
    height: 460px;
    width: 300px;
    padding: 16px;
    border-radius: 20px;
}



.promo-card {
    display: grid;
    align-content: center;
    text-align: center;
    row-gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#item2 {
    color: #1F314F;
    font-family: "Outfit", Bold;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 120%;
}

#item3 {
    color: #68778D;
    font-family: "Outfit", Regular;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 140%;
}